## Pandas analysis

In the following a series of exercises is proposed on a dataset containg timing information from a series of Time-to-Digital-Converters (TDC) implemented in a couple of FPGA's. Each measurement (i.e. each raw) consists of the address of the TDC providing the signal, 'FPGA' and 'TDC_Channel, and the timing information itself, 'ORBIT_CNT', 'BX_COUNTER' and 'TDC_MEAS'. Each TDC count correspond 25/30 ns, whereas the BX_COUNTER feauters gets updated every 25 ns and the ORBIT_CNT every 'x' BX_COUNTER. You can see these way of storing the time as similar to hours, minutes and seconds.

1\. Create a Pandas DataFrame by read N raws of the 'data_000637.txt' dataset. Choose N to be smaller than or equal to the maximum number of raws and larger that 10k.

2\. Find out the value of 'x'

3\. Find out how much the data taking lasted. You can either make an estimate on the baseis of the fraction of the measurements (raws) you read, or perform this check precisely by reading out the whole dataset

4\. Create a new column with the actual time in ns (as a combination of the other three columns with timing information)

5\. Replace the values (all 1) of the HEAD column randomly with 0 or 1

6\. Create a new DataFrame with only the raws with HEAD=1

7\. Make two occupancy plots (one per FPGA), i.e. plot the number of counts per TDC channel

8\. Use the groupby method to find out the noisy channels, i.e. the TDC channels with most counts (say the top 3)

9\. Count the number of unique orbits. Count the number of unique orbits with at least one measurement from TDC_CHANNEL=139

In [1]:
import pandas as pd
import numpy as np

file_name="data_000637.txt"
df = pd.DataFrame(pd.read_csv(file_name))
print(df)

#2
x = df.BX_COUNTER/df.ORBIT_CNT
print("Value of X \n", x.head())

#3
ORBIT_TIME = x*25
BX_TIME = df.BX_COUNTER*25
TDC_TIME = df.TDC_MEAS*(25/30)
print("Orbit_Time \n", ORBIT_TIME.head())
print("Bx_Time \n", BX_TIME.head())
print("TDC_Time \n", TDC_TIME.head())

#4
df["Time in ns"] = ORBIT_TIME + BX_TIME + TDC_TIME
df.head()

         HEAD  FPGA  TDC_CHANNEL   ORBIT_CNT  BX_COUNTER  TDC_MEAS
0           1     0          123  3869200167        2374        26
1           1     0          124  3869200167        2374        27
2           1     0           63  3869200167        2553        28
3           1     0           64  3869200167        2558        19
4           1     0           64  3869200167        2760        25
...       ...   ...          ...         ...         ...       ...
1310715     1     0           62  3869211171         762        14
1310716     1     1            4  3869211171         763        11
1310717     1     0           64  3869211171         764         0
1310718     1     0          139  3869211171         769         0
1310719     1     0           61  3869211171         762        18

[1310720 rows x 6 columns]
Value of X
 0    6.135635e-07
1    6.135635e-07
2    6.598263e-07
3    6.611185e-07
4    7.133257e-07
dtype: float64
Orbit_Time
 0    0.000015
1    0.000015
2    0.000016
3    0.000017
4    0.000018
dtype: float64
Bx_Time
 0    59350
1    59350
2    63825
3    63950
4    69000
Name: BX_COUNTER, dtype: int64
TDC_Time
 0    21.666667
1    22.500000
2    23.333333
3    15.833333
4    20.833333
Name: TDC_MEAS, dtype: float64

   HEAD  FPGA  TDC_CHANNEL   ORBIT_CNT  BX_COUNTER  TDC_MEAS    Time in ns
0     1     0          123  3869200167        2374        26  59371.666682
1     1     0          124  3869200167        2374        27  59372.500015
2     1     0           63  3869200167        2553        28  63848.333350
3     1     0           64  3869200167        2558        19  63965.833350
4     1     0           64  3869200167        2760        25  69020.833351

In [4]:
#5
df.HEAD=[np.random.choice([0,1]) for i in range(df.shape[0])]
df.head(2)

   HEAD  FPGA  TDC_CHANNEL   ORBIT_CNT  BX_COUNTER  TDC_MEAS    Time in ns
0     0     0          123  3869200167        2374        26  59371.666682
1     1     0          124  3869200167        2374        27  59372.500015

In [3]:
#6
df2 = pd.DataFrame([1 for i in range(df.shape[0])],columns=["HEAD"])
df2.head()

   HEAD
0     1
1     1
2     1
3     1
4     1